#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(Analogue_clock_face.svg) no-repeat;
    background-size: 100%;
}
#Hour, #Minute, #Second{
    position: absolute;
    
    border-radius: 10px;
    transform-origin: bottom;
}
#Hour{
    background: black;
    width: 2.5%;
    height: 26%;
    top: 24%;
    left: 48.6%;
}
#Minute{
    background: red;
    width: 1.7%;
    height: 31%;
    top: 19%;
    left: 49%;
    opacity: 0.8;
}
#Second{    
    background: blue;
    width: 0.5%;
    height: 35%;
    top: 15%;
    left: 49.7%;
    opacity: 0.8;  
}
